@media screen and (max-width: 1280px) { div.contentblock {width: 1200px;} } 
h1{
text-align: center;
background-color: darkslategrey;
}

body{
    background: url(baground2.jpg);
}
main{
    text-align: center;
}
button{
    text-align: center;
}

    
